<!DOCTYPE html>
<html lang="en">
    <head>
        <title>nguyenthaisang | <!-- build:title --></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/lib/font-awesome-4.6.3/css/font-awesome.min.css">
        <link href="public/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="home-page-bg">
            <div class="navbar-fixed bg-impage">
                <div class="navbar-content">
                    <div class="navbar-info">
                        <h3><a href="index.html">TASY NGUYEN</a></h3>
                        <h4>WEB DEVELOPER</h4>
                    </div>
                    <div class="navbar-menu">
                        <ul>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="hire.html">Hire</a></li>
                        </ul>
                    </div>
                    <div class="navbar-footer">
                        <ul>
                            <li><a href="https://twitter.com/tasyit" target="_blank"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="https://www.linkedin.com/in/thaisangnguyen3894/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="https://chickendeveloper.wordpress.com/" target="_blank"><span class="fa fa-wordpress"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- build:content -->
            </div>
            <footer>
                <div class="footer-info">
                    &copy 2017 Tasy nguyen
                </div>
                <div class="footer-contact">
                    <ul>
                        <li><a href="https://twitter.com/tasyit" target="_blank"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/thaisangnguyen3894/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://chickendeveloper.wordpress.com/" target="_blank"><span class="fa fa-wordpress"></span></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>