{% extends "shared/short_layout.twig" %}

{% block content %}
    <h1>Chỉ là nơi tôi viết mấy cái nhãm nhí</h1>
    <div class="">
        <p>Nói chung là nhãm đó</p>
    </div>
{% endblock %}

{% block title %}Short{% endblock %}