{% extends "shared/short_layout.twig" %}

{% block content %}
    <h1>I love you baby và nổi sợ của thế giới văn minh</h1>
    <div class="">
        <p>Dạo gần đây ngồi coi lại mấy cái cũ cũ như đoạn Heath Ledger hát bài Can't Take My Eyes Off You. Mọi thứ có vẻ hay ho đến khi tôi nhìn thấy ánh mắt Pat nhìn Patrick khi cậu bị bảo vệ "bế" đi. Nói sao nhỉ? Khó chịu. Một cảm giác khi thấy một đứa con gái thích thú với việc làm điên khùng nhưng cũng lãng mạn của một thanh niên hư hỏng nào đó. Nhất là đoạn kết khi Pat vỗ tay cho Patrick. Lòng tôi chẳng dễ chịu tí nào sau từng ấy năm ra khỏi mái trường phổ thông. Cái này đôi khi tôi hay đùa là việc một man tộc nào đó tấn công vào thế giới văn minh. Tựa như khi người Hung Nô xâm nhập vào Đại Hán hoặc là ở phương tây là khi người Hung Nô tấn công vào đế quốc La Mã. Những đất nước cường thịnh với nền văn hóa ngon lành lại chao đảo trước những kẻ man di. Điều đó chẳng phải khó chịu quá sao? Bọn nó lấy cái gì mà đòi đánh vào những thành trì, đồng ruộng và làng mạc phồn vinh của "chúng ta"? Nhưng chúng có thể chứ, chẳng có gì sai chỉ là bản thân thấy khó chịu. Như thể một sự bất lực khi nhìn thấy người con gái mình thương, một biểu tượng của sự "văn minh đế quốc" dần dần gục ngã trước bước tiến của quân quân đội man di. Chẳng dễ chấp nhận tí nào, nó có gì đó "sai sai" và cái "sai sai" đó sẽ ám ảnh tôi khá lâu, dù mọi thứ giờ đã ổn. Giống khi nhà Tần, nhà Minh vẫn luôn ám ảnh về những dân tộc phương bắc. Các vương quốc Âu Châu sẽ luôn dè chừng những hãn quốc, những quân đoàn từ phía đông xa xôi...</p>
        <p>Đến giờ, tôi cũng vẫn thế,</p>
        <div>
            <a href="index.html">Back</a>
        </div>
    </div>
{% endblock %}

{% block title %}I love you baby và nổi sợ của thế giới văn minh{% endblock %}