{% extends "shared/short_layout.twig" %}

{% block content %}
    <h1>That's all</h1>
    <div class="">
        
        <p>Lâu lắm mới trở lại quán xưa ngồi ở ngay cái khung cửa sổ nhìn xe chạy trên đường Vạn Kiếp. Nay quán bật bài nhạc cũ làm nhớ đủ điều. Nhớ mấy đêm rẻ vô quán sau bửa tối Quận 2. Nhớ ngày đại học Bách Khoa cúp điện, nghe bài này và đọc thơ Du Tử Lê. Nhớ những ngày lơ đãng phóng xe vô định đi Thủ Đức, đánh một vòng dài từ Xa Lộ Hà Nội và trở lại Phạm Văn Đồng mà lòng trống rỗng. Nhớ chỉ... là nhớ vậy thôi.</p>
        <p class="quotes"><i>Dạo chân dưới bóng mây anh chẳng còn nhớ chốn đây đã từng đẹp như thế</i><br>
            <i>Tương tư thì anh vẫn đến nơi ta hẹn hò...</i><br>
            <i>...</i>
            <i>Thôi chẳng ai nhớ mãi những điều thật mỏng manh</i><br>
            <i>Cô đơn gì đâu em ơi anh đã quên rồi</i><br>
            <i>Thế thôi em à, thì thế thôi</i>
        </p>
    </div>
{% endblock %}

{% block title %}That's all{% endblock %}