{% extends "shared/short_layout.twig" %}

{% block content %}
    <h1>Chỉ là nghe nhầm thôi</h1>
    <div class="">
        
        <div>
            <a href="index.html">Back</a>
        </div>
    </div>
{% endblock %}

{% block title %}Short{% endblock %}