// Varible
$background: #FFF;
$color: #333;
$font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$container-background: $background;
$nav-background: #333;
$nav-color: #FFF;
$left-content-witdh: 300px;
$blog-font-size: 16px;
$comment-bg: #F4F4F4;

// mixin and function
@mixin nav-bar {
	background: #333;
	color: #FFF;
	border: 2px solid #FFF;
}

@mixin nav-bar-hover {
	color: #333;
	background: #FFF;
	border-color: #333;
}

@mixin personal-navbar-content {
	width: 80%;
	margin: 10px 10%;
	box-sizing: border-box;
}

@mixin github {
	color: #333;
}


@mixin linkedin {
	color: #0077B5;
}

@mixin twitter {
	color: #1DCAFF;
}

@mixin first-quote {
	content: "\f10d";
    font-family: FontAwesome;
}

@mixin last-quote {
	content: "\f10e";
    font-family: FontAwesome;
}

@mixin blog-list-title {
	color: #333;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

@mixin blog-list-item {
	background: #fff;
	margin-bottom: 45px;
}

::selection {
	background: #333; 
	color: #fff;
}
::-moz-selection {
	background: #333;
	color: #fff;
}

body::-webkit-scrollbar {
	width: 7px;
	height: 5px;
}

body::-webkit-scrollbar-track {
	background: none;
}

body::-webkit-scrollbar-thumb {
	background: #333;
}

ul {
	&.noted {
		list-style: none;
		padding: 5px;
		font-size: 15px;
		li {
			padding: 5px;
		}
	}
}

body {
	font-family: $font;
	background: $background;
	color: $color;
	padding: 0px;
	margin: 0px;
	#show-comment-box {
		text-align: center; 
		padding: 5px 0px; 
		border: 1px solid #ccc; 
		margin: 10px 0px; 
		cursor: pointer
	}
	.navbar-fixed {
		position: fixed;
		height: 100%;
		width: $left-content-witdh;
		color: $nav-color;
		.navbar-button {
			position: absolute;
			padding: 3px;
			top: 0;
			> span {
				cursor: pointer;
				padding: 10px;
				display: inline-block;
				border-radius: 5px;
				@include nav-bar;
				.toggle-content {
					display: none;
				}
			}
			span:hover {
				@include nav-bar-hover;
				.toggle-content {
					display: inline;
				}
			}
			a {
				color: #FFF;
			}
		}
		.navbar-button-close {
			display: none;
		}
		.navbar-content {
			.navbar-title {
				text-align: center;
				padding: 20px;
				font-size: 20px;
				border-bottom: 1px solid #FFF;
				margin-bottom: 10px;
			}
			.navbar-quotes {
				background-color: rgba(255, 255, 255, 0.75);
				padding: 15px;
				@include personal-navbar-content;
				position: absolute;
				top: 30%;
				.navbar-quotes-content {
					color: #333;
					font-size: 15px;
					font-style: italic;
					text-align: center;
				}
				.navbar-quotes-content::before {
					@include first-quote();
				}
				.navbar-quotes-content::after {
					@include last-quote();
				}
				.navbar-quotes-speaker {
					text-align: center;
					color: #333;
					font-weight: bold;
					font-size: 13px;
					margin-top: 10px;
				}
			}
			.navbar-quotes.hide {
				display: none;
			}
		}
		.navbar-short-info {
			display: none;
			width: 90%;
			margin: 50px 5%;
			padding: 15px 0px;
			border-radius: 3px;
			border-radius: 5px;
			background-color: rgba(153,153,153, 0.75);
			position: absolute;
			color: #333;
			.navbar-short-info-avatar {
				text-align: center;
				padding: 25px 0px 0px 0px;
				img {
					width: 150px;
					height: 150px;
				}
			}
			h3 {
				text-align: center;
				margin: 10px 0px;
			}
			h4 {
				text-align: center;
				margin: 10px 0px;
				font-size: 14px;
			}
			p {
				@include personal-navbar-content;
				padding: 10px;
				border-radius: 3px;
				font-style: italic;
			}
			.navbar-shor-info-contact {
				@include personal-navbar-content;
				display: flex;
				a {
					box-sizing: border-box;
					font-size: 23px;
					flex: 1;
					text-align: center;
				}
				a.github {
					@include github;
				}
				a.twitter {
					@include twitter;
				}
				a.linkedin {
					@include linkedin;
				}
			}
		}
		.navbar-short-info.show-info {
			display: block;
		}
	}
	
	.container {
		background: $container-background;
		width: calc(100% - #{$left-content-witdh});
		float: right;
		height: 100%;
		padding: 20px 80px;
		display: block;
		box-sizing: border-box;
		.container-content {
			width: 750px;
			margin: 0px auto;
			.navbar-button {
				display: none;
			}
			.navbar-menu {
				ul {
					list-style: none;
					margin: 0px;
					padding: 0px;
					li {
						display: inline-block;
						a {
							display: inline-block;
							color: #333;
							text-decoration: none;
							padding: 25px 40px 25px 10px;
							box-sizing: border-box;
							text-align: left;
							text-decoration: none;
							font-size: 20px;
						}
						a:hover {
							text-decoration: underline;
						}
					}
				}
			}
			.main-content {
				padding: 15px;
				h1 {
					border-bottom: 1px solid #333;
					font-size: 30px;
				}
			}
		}
	}
	
	footer {
		text-align: center;
		border-top: 1px solid #ccc;
		padding: 20px 0px;
		color: #999;
		div {
			margin: 5px 0px;
			a {
				color: #333;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
	
	.home-content {
		min-height: calc(100vh - 350px);
	}
	
	.code-content {
		white-space: pre-line;
		background: #333;
		color: #FFF;
		padding: 10px 10px 20px 10px;
		border-radius: 5px;
		font-size: 14px;
	}
	
	.quotes::before {
		content: '“ '
	}
	
	.quotes::after {
		content: ' ”'
	}

	@mixin bg-cover {
		background-size: cover;
	}
	
	.home-bg {
		background: url('../img/css/home.jpg');
		@include bg-cover;
		background-position: 50% 50%;
	}
	
	.product-bg {
		background: url('../img/css/product.jpg');
		@include bg-cover;
		background-position: 48% 50%;
	}
	
	.me-bg {
		background: url('../img/css/me.jpg');
		@include bg-cover;
		background-position: 57% 50%;
	}

	.note-bg {
		background: url('../img/css/notes.jpg');
		@include bg-cover;
		background-position: 40% 50%;
	}

	.home-content {
		.about {
			h4 {
				text-align: center;
				margin: 5px 0px;
			}
			h3 {
				text-align: center;
				margin: 5px 0px;
			}
			span {
				display: block;
				text-align: center;
				font-style: italic;
				font-size: 14px;
			}
			h4.title {
				text-align: left;
				margin: 30px 0px 0px 0px;
				text-decoration: underline;
			}
			p {
				font-size: 14px;
			}
			ul {
				font-size: 14px;
				list-style: none;
				padding-left: 20px;
			}
			ul > li > a {
				text-decoration: none;
				color: #333;
				margin-bottom: 5px;
				display: inline-block;
			}

			ul > li > a:hover {
				text-decoration: underline;
			}
		}
		.blog-detail {
			.blog-detail-date {
				font-style: italic;
				color: #999999;
				margin: 10px 0px;
			}
			.blog-detail-code {
				white-space: pre-line;
				background: #333;
				color: #FFF;
				padding: 10px 20px 25px 20px;
				border-radius: 5px;
				font-size: $blog-font-size;
				margin-bottom: 10px;
			}
			.blog-detail-quote {
				background: #ccc;
				color: #333;
				font-style: italic;
				padding: 10px 10px;
				font-size: 14px;
				margin: 10px 0px;
				border-left: 3px solid #333;
			}
			.blog-detail-quote::before {
				@include first-quote;
			}
			.blog-detail-quote::after {
				@include last-quote;
			}
			p {
				font-size: $blog-font-size;
				margin: 5px 0px 15px 0px;
				line-height: 22px;
				word-spacing: 2px;
			}
			h4 {
				font-size: 18px;
				margin-bottom: 10px;
			}
			a {
				white-space: pre-wrap;
				word-wrap: break-word;
				color: #333;
				text-decoration: none;
				font-weight: bold;
				font-size: $blog-font-size;
				&:hover {
					color: #999;
				}
			}
			ul.series {
				margin: 20px 0px;
				padding: 0px;
				list-style: none;
				li {
					margin: 5px 0px;
					a {
						white-space: pre-wrap;
						word-wrap: break-word;
						font-weight: inherit;
						font-size: $blog-font-size;
						padding-left: 10px;
						&.current {
							font-weight: bold;
						}
					}
				}
			}
			ul {
				li {
					margin: 5px 0px;
				}
			}
			.blog-break-line {
				width: 100%; 
				border-bottom: 1px solid #ccc;
			}
			.blog-recommend {
				h4 {
					text-decoration: underline;
				}
				ul {
					padding: 0px 10px;
					list-style: none;
					li {
						padding: 3px 0px;
						a {
							color: #333;
							font-weight: 100;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
			
			img {
				max-width: calc(100% - 25px);
				display: block;
				margin: 20px auto 35px auto;
			}
			.tags {
				margin-bottom: 30px;
				span {
					a {
						display: inline-block;
						background: #333;
						padding: 3px 5px;
						font-size: 12px;
						color: #FFF;
						&::before {
							content: '\f292';
							font-family: FontAwesome;
						}
					}
				}
			}
			.blog-detail-comments {
				margin-top: 55px;
			}
			.note-link {
				overflow: hidden;
				margin: 35px 0px;
				// text-align: center;
				a {
					display: inline-block;
					&::before {
						display: inline-block;
						border: 1px solid #333;
						background: #333;
						color: #FFF;
						padding: 5px;
						font-size: 13px;
					}
					&.prev {
						float: left;
						&::before {
							content: 'Chương trước';
						}
					}
					&.next {
						float: right;
						&::before {
							content: 'Chương sau';
						}
					}
					&:hover::before {
						color: #333;
						background: #FFF;
					}
				}
			}
			.comment {
				padding: 10px;
				.comment-item {
					font-size: 15px;
					font-style: italic;
					border-bottom: 1px solid #ccc;
					margin-bottom: 10px;
					&:last-child {
						border-bottom: none;
					}
					h3 {
						font-size: 15px;
						margin: 0px;
					}
					p {
						font-size: 15px;
						background: $comment-bg;
						border-left: 3px solid #ccc;
						padding: 5px;
						margin-bottom: 3px;
					}
					ul {
						list-style: none;
						padding: 5px 0px 5px 15px;
    					margin: 5px 0px;
						li {
							b {
								display: block;
							}
							margin: 10px 0px;
							padding: 5px;
							background: $comment-bg;
							border-left: 3px solid #ccc;
						}
					}
				}
			}
		}
		.tags-content {
			.tags-list {
				width: calc(100% - 30px);
				margin: 45px auto 25px auto;
				a {
					display: inline-block;
					background: #333;
					color: #fff;
					text-decoration: none;
					padding: 5px 10px;
					border: 1px solid #333;
					margin: 3px 1px;
					&:hover {
						background: #FFF;
						color: #333;
					}
				}
			}
			#tag-load {
				span {
					font-size: 30px;
				}
			}
			#tag-post {
				width: calc(100% - 20px);
				margin: 10px auto;
				a {
					display: block;
					text-decoration: none;
					color: #333;
					margin: 10px 5px;
				}
			}
		}
		.product-list {
			.product-item {
				h3 {
					text-decoration: underline;
					font-size: 20px;
				}
				.tags {
					span {
						background: #ccc;
						color: #FFF;
						display: inline-block;
						padding: 2px 10px;
						border-radius: 0px 10px 10px 0px;
						font-size: 12px;
					}
				}
				p {
					font-style: italic;
				}
				.links {
					a {
						background: #333;
						color: #FFF;
						text-decoration: none;
						display: inline-block;
						padding: 5px 10px;
						border-radius: 3px;
						font-size: 13px;
					}
				}
			}
		}
	}
	.notes {
		.note-list {
			.note-item {
				@include blog-list-item;
				> span {
					font-style: italic;
					font-size: 15px;
				}
				h3 {
					margin: 5px 0px;
					a {
						@include blog-list-title;
					}
					span {
						position: relative;
						&.not-complete::before {
							background: #FF8800;
							width: 85px;
							content: 'Chưa hoàn thành';
						}
						&.complete::before {
							background: #007E33;
							width: 55px;
							content: 'Hoàn thành';
						}
						&.drop::before {
							background: #3E4551;
							width: 55px;
							content: 'Ngừng viết';
						}
						&::before {
							font-size: 10px;
							padding: 4px;
							color: #FFF;
							margin: 5px;
							position: absolute;
							bottom: -5px;
							
						}
					}
				}
			}
		}
	}
	.notes-detail {
		.notes-info {
			.note-list-chap {
				h4 {
					margin: 0px;
				}
				ul {
					list-style: none;
					margin: 0px;
					padding: 10px;
					li {
						margin: 5px;
						a {
							text-decoration: none;
							color: #3E4551;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	.blog-list {
		.blog-item {
			@include blog-list-item;
			h3 {
				margin: 5px 0px;
				a {
					@include blog-list-title;
				}
			}
			.blog-type {
				span {
					color: #999;
					font-style: italic;
					font-size: 15px;
					&::after {
						content: ','
					}
					&:last-child::after {
						content: ''
					}
					a {
						text-decoration: none;
						color: #999;
					}
				}
			}
			p {
				font-size: $blog-font-size;
				margin: 5px 0px;
			}
		}
	}
}



@media screen and (max-width: 767px) { 
	body {
		.navbar-fixed {
			transform: translateX(-100%);
			transition: 0.3s;
			z-index: 5;
			.navbar-short-info {
				display: block;
			}
			.navbar-button {
				display: none;
			}
			.navbar-quotes {
				display: none;
			}
			.navbar-button-close {
				display: block;
				position: absolute;
				padding: 3px;
				top: 0;
				span {
					cursor: pointer;
					padding: 10px;
					display: inline-block;
					border-radius: 5px;
					@include nav-bar;
				}
				span:hover {
					@include nav-bar-hover;
				}
			}
		}

		.navbar-fixed.show-info {
			transform: translateX(0%);
			transition: 0.3s;
		}
	
		.container {
			width: 100%;
			padding: 10px;
			.container-content {
				width: 100%;
				margin: 0px;
				.navbar-menu {
					text-align: right;
					ul {
						li {
							a {
								padding: 0px 15px 5px 0px;
							}
						}
					}
				}
				.main-content {
					padding: 15px 0px 0px 0px;
					h1 {
						margin: 15px 0px 10px 0px;
						font-size: 30px;
					}
				}
				.navbar-button {
					display: block;
					position: absolute;
					padding: 5px 0px;
					top: 0;
					span {
						cursor: pointer;
						padding: 10px;
						display: inline-block;
						border-radius: 5px;
						@include nav-bar;
					}
					span:hover {
						@include nav-bar-hover;
					}
				}
			}
		}
	}
}

.overflow-scroll {
	width: 100%;
	overflow-x: scroll;
	overflow-y: auto;
	overflow: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ccc;
	overflow:auto;
}

table td, table th {
	text-align: left;
	padding: 10px 15px;
	border: 1px solid #ccc;
}

a.note-item::before {
	content: '(*)';
	color: #E4630B;
}


