


@media only screen and (max-width: 500px) 
{
    .table-responsive > thead tr
    {
        display: none; 
    }

    .table-responsive > tbody > tr > td, 
    .table-responsive > tbody > tr > th, 
    .table-responsive > tfoot > tr > td, 
    .table-responsive > tfoot > tr > th, 
    .table-responsive > thead > tr > td, 
    .table-responsive > thead > tr > th
    {
        display: block;
    }

    .table-responsive > tbody > tr td
    {
        padding-left: 30%;
        position: relative;
    }

    .table-responsive > tbody > tr td:first-child
    {
        border-top: 3px solid #999;
    }

    .table-responsive > tbody > tr td::before
    {
        content: attr(data-title);
        width: 30%;
        position: absolute;
        top: 5px;
        left: 5px;  
    }
    
}