body
{
    margin: 0px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

footer
{
    background: #283E4A;
    padding: 30px 0px;
}

.footer-contact
{
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}

.footer-contact a
{
    display: inline-block;
    padding: 6px 10px;
    color: #fff;
    font-size: 20px;
}

.footer-contact a.bg-twitter
{
    background: #55ACEE;
}

.footer-contact a.bg-wp
{
    background: #0AA7DB;
}

.footer-contact a.bg-fb
{
    background: #3B5998;
}

.footer-contact a.bg-github
{
    background: #24292E;
}

.footer-link
{
    text-align: right;
    padding-top: 15px;
}

.list-link-footer
{
    /*width: 30%;*/
    border-right: 1px solid #C7D1D8;
    padding: 5px 20px 5px 50px  ;
    display: inline-block;
    box-sizing: border-box;
}

.list-link-footer > ul
{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

.list-link-footer > ul > li > a
{
    text-align: right;
    display: block;
    text-decoration: none;
    color: #C7D1CF;
    font-size: 12px;
    padding: 5px;
}

.list-link-footer > ul > li > a:hover
{
    color: #fff;
}



header
{
    background: #283E4A;
    margin: 0px;
    /*background: url(../imgs/wallpage.jpg);*/
}

.header-text
{
    
}

.container
{
    width: 1200px;
    margin: 0 auto;
}

ul.header_menu
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header_menu > li
{
    display: inline-block;
}

.header_menu > li > a
{
    display: block;
    text-decoration: none;
    padding: 20px 35px;
    color: #C7D1D8;
}

.header_menu > li > a:hover
{
    background: #283E4A;
    color: #fff;
}

#menu_responsive
{
    display: none;
    padding: 15px 15px;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #999;
}

.fb-button
{
    color: #fff;
    background: #3B579D;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 2px;
}

.content
{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    background: #fff;
}

.img_button > img
{
    width: 100%;
}

[class^="width-"]
{
    display: inline-block;
}

.width-30
{
    width: 30%;
}

.width-35
{
    width: 35%;
}

.width-40
{
    width: 40%;
}

.demo-list
{
    padding: 15px;
    box-sizing: border-box;
}

.page-title
{
    padding: 3px;
}


.table-responsive > tbody > tr > td, 
.table-responsive > tbody > tr > th, 
.table-responsive > tfoot > tr > td, 
.table-responsive > tfoot > tr > th, 
.table-responsive > thead > tr > td, 
.table-responsive > thead > tr > th
{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-responsive td a , .table-responsive td a
{
    text-decoration: none;
    color: #283E4A;
}

.table-responsive td a:hover , .table-responsive td a:hover
{
    text-decoration: none;
    color: #0AA7DB;
}


.table-responsive > thead tr
{
    text-align: left;
}

.table-responsive > tbody tr:hover
{
    background: #F9F9F9;
}

.table-responsive
{
    border-collapse: collapse;
    width: 100%;
}

.about
{
    padding: 10px;
    box-sizing: border-box;
}

.title-header
{
    border-bottom: 1px solid #ccc;
}

.timeline ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.timeline ul li
{
    border: 3px solid #283E4A;
    margin: 20px 0px;
    padding: 10px;
}

.timeline ul li .time
{
    font-style: italic;
    font-size: 13px;
}

.timeline ul .timeline-place
{
    font-size: 18px;
    font-weight: bold;
}

ul.tags 
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.tags li
{
    display: inline-block;
    border: 1px solid #283E4A;
    background: #283E4A;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5px;
}

ul.tags li:hover
{
    border: 1px solid #283E4A;
    background: #fff;
    color: #283E4A;
    box-sizing: border-box;
}

.talent
{

}

.talent > div
{
    width: calc(25% - 5px);
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
    position: relative;
}

.talent > div > img
{
    width: 100%;
}

.talent > div > .talent-name
{
    position: absolute;
    bottom: 4px;
    padding: 10px;
    background: #333;
    color: #FFF;
    box-sizing: border-box;
    width: 100%;
    display: none;
}

.talent > div:hover  .talent-name
{
    display: block;
}






/* Responsive */

@media only screen and (max-width: 750px) 
{
    .content
    {
        width: 100%;
    }

    .respove_hide
    {
        display: none;
    }

    .respove_show
    {
        display: block !important;
        width: 100%;
        position: absolute;
        z-index: 10;
        background: #283E4A;
    }

    .container
    {
        width: 100%;
    }

    .header_menu
    {
        display: none;
    }

    .header_menu > li
    {
        display: block;
    }

    #menu_responsive
    {
        display: block;
    }

    [class^="width-"]
    {
        width: 100%;
    }

    .list-link-footer
    {
        width: 100%;
        padding-left: 20px;

    }

    .list-link-footer > ul > li > a
    {
        text-align: left;
    }

    .footer-contact
    {
        text-align: left;
    }

    .table-responsive > thead tr
    {
        display: none; 
    }

    .table-responsive > tbody > tr > td, 
    .table-responsive > tbody > tr > th, 
    .table-responsive > tfoot > tr > td, 
    .table-responsive > tfoot > tr > th, 
    .table-responsive > thead > tr > td, 
    .table-responsive > thead > tr > th
    {
        display: block;
    }

    .table-responsive > tbody > tr td
    {
        padding-left: 110px;
        position: relative;
    }

    .table-responsive > tbody > tr td:first-child
    {
        border-top: 3px solid #999;
    }

    .table-responsive > tbody > tr td::before
    {
        content: attr(data-title);
        width: 100px;
        position: absolute;
        top: 6px;
        left: 5px;  
    }

    .talent > div
    {
        width: 100%;
    }

    .talent > div > .talent-name
    {
        display: block;
    }
}



/* End */
