body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-impage {
    background: url('../imgs/background.jpeg');
    background-size: cover;
}

.home-page-bg {
    margin: 0px;
    height: 100vh;
    position: relative;
}

.home-page-info {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}

.home-page-info .home-page-group-info {
    overflow: hidden;
}

.home-page-info .home-page-group-info .home-page-avatar {
    float: left;
}

.home-page-info .home-page-group-info .home-page-avatar img {
    width: 150px;
}

.home-page-info .home-page-group-info .home-page-develop-info {
    float: left;
    padding: 0px 20px;
}

.home-page-info .home-page-group-info .home-page-develop-info h1 {
    color: #333;
    font-size: 22px;
    margin: 0px;
}

.home-page-info .home-page-group-info .home-page-develop-info h2 {
    color: #333;
    font-size: 15px;
    margin: 5px 0px;
}

.home-page-info .home-page-group-info .home-page-develop-info p {
    color: #333;
    font-size: 12px;
    font-style: italic;
    max-width: 200px;
}

.home-page-button-group {
    margin-top: 35px;
    box-sizing: border-box;
    text-align: center;
}

.home-page-button-group a.btn-home {
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 5px 10px;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 30px;
}

.home-page-button-group a.btn-contact {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 15px;
}

.navbar-info {
    text-align: center;
    color: #FFF;
}

.navbar-info > a {
    margin-bottom: 25px;
    display: block;
}

.navbar-info a img {
    width: calc(100% - 35px);
}

.navbar-info h3 {
    font-size: 23px;
    margin: 0px;
}

.navbar-info h3 a {
    color: #FFF;
    text-decoration: none;
}

.navbar-info h4 {
    font-size: 12px;
    margin-top: 10px;
}

.navbar-fixed {
    position: fixed;
    width: 300px;
    height: 100%;
}

.navbar-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.navbar-menu > ul {
    padding: 15px 0px;
    margin: 25px;
    list-style: none;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.navbar-menu > ul > li {
    padding: 0px;
}

.navbar-menu > ul > li.menu-homepage {
    display: none;
}

.navbar-menu > ul > li > a {
    display: block;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    padding: 5px 0px;
    top: 0px;
    border: 1px solid transparent;
}

.navbar-menu > ul > li > a:hover {
    border: 1px solid #FFF;
}

.navbar-footer {
    text-align: center;
}

.navbar-footer > ul {
    padding: 0px;
    margin: 25px 0px;
    list-style: none;
}

.navbar-footer > ul > li {
    display: inline-block;
    padding: 0px;
}

.navbar-footer > ul > li > a {
    margin-right: 10px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    padding: 5px 0px;
    top: 0px;
}

.navbar-footer > ul > li > a.link-twitter:hover {
  color: #2AA3EF;
}

.navbar-footer > ul > li > a.link-linkedin:hover {
  color: #117CB4;
}

.navbar-footer > ul > li > a.link-wordpress:hover {
  color: #464646;
}

.navbar-footer > ul > li:last-child a {
    margin-right: 0px;
}

.container {
    background: #FFF;
    width: calc(100% - 300px);
    float: right;
    height: 100%;
}

.blog-list {
    padding: 10px 25px;
}

.blog-list ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.blog-list ul li h3 {
    margin: 0px;
    box-sizing: border-box;
}

.blog-list ul li h3 a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 5px 0px;
}

.blog-list ul li h3 a:hover {
    text-decoration: underline;
}

.blog-list ul li span.blog-category {
    color: #999;
    font-style: italic;
    font-size: 15px;
}

.blog-list ul li p {
    font-size: 13px;
}

.about {
}

.about .about-cover img {
    position: relative;
    width: 100%;
    max-height: 300px;
    min-height: 150px;
}

.about .about-content {
    position: relative;
    width: 700px;
    padding: 20px 10px;
    margin: -150px auto 35px auto;
    background: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.about .about-content .about-basic-info {
    text-align: center;
}

.about .about-content .about-basic-info p {
    text-align: center;
}

.about .about-content .about-basic-info img {
    max-width: 350px;
    margin: 15px auto;
}

footer {
    display: none;
}



@media screen and (max-width: 767px) {
    .home-page-info {
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        text-align: center;
    }

    .home-page-info .home-page-group-info .home-page-avatar {
        padding: 35px 0px 20px 0px;
        display: block;
        float: none;
    }

    .home-page-info .home-page-group-info .home-page-develop-info {
        float: none;
        padding: 0px 20px;
    }

    .home-page-info .home-page-group-info .home-page-develop-info p {
        max-width: none;
    }

    .navbar-fixed {
        position: fixed;
        width: 100%;
        height: auto;
        padding: 0px 0px;
    }

    .navbar-fixed .navbar-content {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
    }

    .navbar-menu > ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    .navbar-menu > ul > li {
        padding: 0px;
        display: inline-block;
    }

    .navbar-menu > ul > li.menu-homepage {
        display: inline-block;
    }

    .navbar-menu > ul > li > a {
        display: block;
        color: #FFF;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        top: 0px;
    }

    .navbar-info {
        display: none;
    }

    .navbar-footer {
        display: none;
    }

    .container {
        width: 100%;
        float: none;
        height: auto;
        padding-top: 35px;
    }

    .blog-list {
        padding: 10px 10px;
    }

    footer {
        display: block;
        background: #333;
        color: #FFF;
        overflow: hidden;
        padding: 20px 15px;
    }

    footer .footer-info {
        float: left;
        font-size: 13px;
    }

    footer .footer-contact {
        float: right;
    }

    footer .footer-contact ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    footer .footer-contact ul li {
        display: inline-block;
    }

    footer .footer-contact ul li a {
        color: #FFF;
        padding: 3px;
        margin-left: 5px;
    }
}