body
{
    margin: 0px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

footer
{
    background: #283E4A;
    padding: 30px 0px;
}

.footer-contact
{
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}

.footer-contact a
{
    display: inline-block;
    padding: 6px 10px;
    color: #fff;
    font-size: 20px;
}

.footer-contact a.bg-twitter
{
    background: #55ACEE;
}

.footer-contact a.bg-wp
{
    background: #0AA7DB;
}

.footer-contact a.bg-fb
{
    background: #3B5998;
}

.footer-link
{
    text-align: right;
    padding-top: 15px;
}

.list-link-footer
{
    /*width: 30%;*/
    border-right: 1px solid #C7D1D8;
    padding: 5px 20px 5px 50px  ;
    display: inline-block;
}

.list-link-footer > ul
{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

.list-link-footer > ul > li > a
{
    text-align: right;
    display: block;
    text-decoration: none;
    color: #C7D1CF;
    font-size: 12px;
    padding: 5px;
}

.list-link-footer > ul > li > a:hover
{
    color: #fff;
}



header
{
    background: #283E4A;
    margin: 0px;
    /*background: url(../imgs/wallpage.jpg);*/
}

.header-text
{
    
}

.container
{
    width: 1200px;
    margin: 0 auto;
}

ul.header_menu
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header_menu > li
{
    display: inline-block;
}

.header_menu > li > a
{
    display: block;
    text-decoration: none;
    padding: 20px 35px;
    color: #C7D1D8;
}

.header_menu > li > a:hover
{
    background: #283E4A;
    color: #fff;
}

#menu_responsive
{
    display: none;
    padding: 15px 15px;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #999;
}

.fb-button
{
    color: #fff;
    background: #3B579D;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 2px;
}

.content
{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    background: #fff;
}

.img_button > img
{
    width: 100%;
}

[class^="width-"]
{
    display: inline-block;
}

.width-30
{
    width: 30%;
}

.width-35
{
    width: 35%;
}

.width-40
{
    width: 40%;
}

/* Responsive */

@media only screen and (max-width: 500px) 
{
    .content
    {
        width: 100%;
    }

    .respove_hide
    {
        display: none;
    }

    .respove_show
    {
        display: block !important;
    }

    .container
    {
        width: 100%;
    }

    .header_menu
    {
        display: none;
    }

    .header_menu > li
    {
        display: block;
    }

    #menu_responsive
    {
        display: block;
    }

    [class^="width-"]
    {
        width: 100%;
    }
}

/* End */