body
{
    padding: 0px;
    margin: 0px;
    counter-reset: section;
}

h2
{
    text-align: center;
    margin-bottom: 50px;
}

.container
{
    width: 600px;
    margin: 0px auto;
}

.staff-info
{
    font-size: 17px;
}

.staff-info ul
{
    padding: 0px;
    margin: 0px 0px 30px 0px;
    list-style: none;
}

.staff-info ul li
{
    margin: 10px 0px;
    position: relative;
}

.staff-info ul li::after
{
    /*position: absolute;
    content: 'fsdfds';
    width: 100%;
    display: block;
    border-bottom: 1px dotted #333;*/
}

.staff-info ul li .title
{
    font-weight: bold;
}

.staff-info ul li .title:after
{
    content: ':';
    margin: 0px 5px 0px 15px;
}

ul.list-number
{
    padding: 0px 20px;
    margin: 0px;
    list-style: none;
    font-size: 16px;
}

ul.list-number li
{
    padding: 5px 0px;
}

ul.list-number li:before
{
    content: '-';
    margin-right: 10px;
}

ul.list-dot
{
    padding: 0px 20px 0px 40px;
    margin: 0px 0px 30px 0px;
    list-style: none;
    font-size: 16px;
}

ul.list-dot li
{
    padding: 3px 0px;
    border-bottom: 3px dotted;
    position: relative;
    height: 25px;
}

ul.list-dot li:before
{
    content: '-';
    margin-right: 10px;
    position: absolute;
    top: 12px;
    left: -15px;
}

.header-number
{
    margin: 10px 0px;
}

.header-number:before
{
    counter-increment: section;
    content: counter(section) ". ";
}

.sig
{
    display: flex;
}

.sig > div
{
    text-align: center;
    font-weight: bold;
    margin: 35px 0px 150px 0px;
}

.flex-3
{
    flex: 3;
}

.flex-4
{
    flex: 4;
}

.datetime
{
    text-align: right;
    font-style: italic;
}

.img
{
    text-align: right;
}

.text-suggest
{
    margin: 10px 0px;
    line-height: 25px;
}


