{% extends "shared/blog_layout.twig" %}

{% block content %}
<h1>Nếu không biết viết gì hãy thử Today I learned</h1>
<div class="home-content">
<div class="blog-detail">
<div class="blog-detail-date">Đăng lúc 02/08/2020</div>

<p>
Lại là một bài không liên quan gì đến kỹ thuật. Dạo gần đây mình đọc một số bài viết của các người anh đi trước và có trò chuyện với họ. Đồng thời nhiều bạn cũng nói về việc viết blog rằng không biết viết như thế nào và cảm thấy khó khăn về chủ đề cũng như hành văn... Hôm nay mình xin chia sẽ về một cách là <b>Today I learned...</b> (til).
</p>
<p>Nói đơn giản thì ý nghĩa của nó nằm ngay trong cái câu rồi <i>"Hôm nay, tôi đã học..."</i>. Điều này bắt đầu từ một thói quen của mình là mình hay ghi chú lại những thứ hay ho mà mình học đã được tiếp thu trong ngày. Ví dụ như một lệnh Linux hoặc một lệnh Git, một CSS trick hay đơn giản là một lỗi tai hại nào đó mà mình vô tình mắc phải. Việc đó giúp mình ghi nhớ tốt hơn cũng nhưng có thể lục lại được nếu một lúc nào đó cần đến. <i>Thế việc này liên quan gì đến viết blog?</i> Đúng vậy, lúc trước thì nó không liên quan lắm đến việc viết blog của mình cho đến gần đây mình đọc được một bài viết của anh leader cũ của mình. Ảnh nói sơ về lý do viết blog thì trong đó có đề cập tới việc cũng cố kiến thức cũng như là một cách ghi lại quá trình quá triển của bản thân. Để khi có xin việc hoặc gì đó ngoài cái resume ra thì nhà tuyển dụng có thể nhìn vào cái blog đó mà có cái nhìn rõ hơn về bạn.</p>
<p>Vậy thì <b>til</b> có gì dễ dàng hơn viết blog truyền thống. Theo mình với <b>til</b>, bạn sẽ không phải vắt óc suy nghĩ rằng sẽ phải viết chủ đề gì? Chủ đề đó có hay không? Liệu mình đã viết đủ sâu hay chính xác chưa? Hay mệt hơn nửa là viết một hồi rồi lại bí từ, bí cách hành văn rồi lại bỏ. Riêng với <b>til</b> thì bạn sẽ không cần phải vắt óc ra tìm một chủ đề nào đó khi mà mọi thứ đến từ công việc hàng ngày của bạn. Chuyện về văn phong cũng đỡ phải lo khi thường thì nội dung thường khá ngắn gọn và dễ hiểu (vì còn dùng để note mà). Nói cách khác thì đây là một kiểu nhật ký của các lập trình viên. Hãy tưởng tượng một ngày đẹp trời, bạn hoặc team gặp một cái bug kỳ quái nào đó đầy nhức nhói. Sau vài giờ vò đầu, bứt tai thì lời giải cũng xuất hiện. Có thể là một định nghĩa hoặc một kiến thức cơ bản nào đó mà bạn đã bỏ qua. Hay là một lỗi nào phát sinh trong quá trình làm việc cũng nhau và đôi khi ảo diệu hơn nửa là một hành động bạn vẫn xem là vô hại thực tế lại gây ra mối họa khôn lường? Nếu điều đó là bạn thấy hay ho, bạn có thể note vào ngay trong mục <b>til</b> của ngày hôm đó. Rất dễ đúng không? Theo mình thì nếu làm lập trình thì việc gặp các trường hợp như thế sẽ là hết sức thường xuyên nên sẽ không lo lắm việc thiếu nội dung cho blog. Và điều đó cũng giúp chúng ta đỡ... lười hơn khi phải viết một bài dài hàng mớ từ mà đôi khi là viết nửa bài thì chợt nghĩ <i>"viết dài mà chắc chả ma nào xem, thôi dẹp!"</i>. Ngoài ra mình cũng bổ sung một điểm mạnh nửa là viết blog kiểu này thì cũng khá dễ dàng trong việc tạo một trang blog. Có kha khá cách để tạo một trang <b>til</b> như Wordpress, Github Pages, Vuepress, Jekyll với mỗi ngày sẽ là một bài viết với tiêu đều là ngày tháng năm... Hay lầy lội hơn như mình là mình viết bằng markdown xong chuyển sang HTML rồi ném lên lên Github pages cho lẹ (lâu lâu thấy ẹ quá thì chôm chỉa trên mạng vài đoạn CSS nhìn vào cho bớt ẹ).</p>
<p>Để kết thúc bài viết hôm nay thì mình xin chia sẽ một số điều về việc viết blog dạng <b>til</b>. Đầu tiên là không phải vì nội dung ngắn mà chúng ta có thể dễ dãi, nội dung ngắn đồng nghĩa với việc đúng sai rõ ràng. Do thế với những điều bạn viết ra bạn nên tìm hiểu thật rõ ràng cũng như chuẩn xác. Điều này tôi cho chính bạn vì nếu bạn viết một điều mà nó không đúng thì sẽ là điểm trừ nếu nhà tuyển dụng nhìn vào, đáng lo hơn nửa là nói sẽ dẫn tới những bug nguy hiểm nếu bạn tin vào một kiến thức không đúng. Tiếp nửa là là bạn đừng nên quá ngại vì sợ bị đánh giá những điều mình học được, không phải ai cũng biết hết mọi thứ, chỉ có người chịu tiếp thu và người ngừng tiếp thu thôi (chém thế vì thứ gần đây nhất mình note vào đó là lệnh <b>xargs</b> :(( ). Cuối cùng đó là nếu bạn đủ tự tin hoặc muốn rèn luyện, mình khuyên bạn nên viết bằng tiếng Anh vì nội dung khá gãy gọn phù hợp để dùng tiếng Anh và sẵn... PR luôn.</p>
<div class="blog-detail-comments">
    <!-- <div id="show-comment-box">
        Comment
    </div> -->
    <div id="post-comment">
        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://https-tasynguyen3894-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>
<div class="blog-break-line"></div>
</div>
</div>
{% endblock %}

{% block title %}Nếu không biết viết gì hãy thử Today I learned{% endblock %}

{% block menu %}<div class="navbar-fixed home-bg">{% endblock %}

{% block quotes %}
<div class="navbar-quotes-content">
    Live as if you were to die tomorrow. Learn as if you were to live forever
</div>
<div class="navbar-quotes-speaker">
    Mahatma Gandhi
</div>
{% endblock %}

{% block meta %}
<meta name="description" content="Nếu không biết viết gì hãy thử Today I learned">
<meta name="keywords" content="Javascipt, jQuery, html, css, my stories">
<meta name="author" content="Tasy Nguyen">
{% endblock %}