<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
    <span class="702240c23336c8bb9908900ca00d6753"></span>
    <script class="many-sales-variables">
        var MANY_SALES={"shop_id": 1660229758805957, "app_url": "https://api-dev.manysales.io/v1/storefront"};
    </script>
    <script async="true" src="https://manysales-cdn.fireapps.vn/assets/main.js?v=1581056504"></script>
    <body class="{% block class_body %}{% endblock %}">
        {# <header>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/codes/">Codes</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </header> #}
        {% block content %}{% endblock %}
        <footer>
            <div class="left">Photo by <a href="https://unsplash.com/@tronle_sg">Tron Le</a></div>
            <div class="right"><a href="http://sangnguyen.dev">sangnguyen.dev</a> &copy 2020</div>
        </footer>
    </body>
</html>