{% extends "shared/main.twig" %}

{% block content %}
<div class="container main-page">
    <h1>Gulp x Twig x Yo generator</h1>
    <div>
        Make by <a href="https://sangnguyen.dev">Sang Nguyen</a>
    </div>
</div>
{% endblock %}

{% block title %}Gulp x Twig x Yo{% endblock %}