{% extends "shared/main.twig" %}

{% block content %}
<div class="container main-page">
    <h1>Hello</h1>
    <div>
        <p>
            My name is <b>Sang</b>, I'm vietnamese. I'm <a href="https://github.com/tasynguyen3894">software engineer</a>, <a href="https://blog.sangnguyen.dev/">blogger</a>, alcoholic and slacker. If unlucky, you may find me at beer hall with my old laptop in Saigon.
        </p>
        <p>
            Contact with me on <a href="https://www.linkedin.com/in/thaisangnguyen3894/">Linkedin</a>, <a href="https://twitter.com/tasyit">Twitter</a> or <a href="https://github.com/tasynguyen3894">Github</a>.
        </p>
    </div>
</div>
{% endblock %}

{% block title %}Sang Nguyen{% endblock %}