{% extends "shared/blog_layout.twig" %}

{% block content %}
<h1>2020 rewind</h1>
    <div class="home-content">
        <div class="blog-detail">
        <div class="blog-detail-date">Đăng lúc 02/01/2020</div>
        <div class="tags">
            <span><a href="tags.html?tag=lan-man">lan man</a></span>
            <span><a href="tags.html?tag=my-stories">my stories</a></span>
        </div>
        
        <p>Lại một năm trôi qua, 2020 có lẻ là một năm mà theo mình là có quá nhiều điều để nói nhưng cuối cùng chẳng còn nổi một điều để nói. Tự dưng lúc này mình nhớ về năm 2018 của Dev1ce. Một khởi đầu tồi tệ với Astralis và anh ta nghĩ rằng đó sẽ là năm tồi tệ nhất sự nghiệp. Nhưng rồi 2018 kết thúc, Astralis được thêm một major và cán đích top 20 HLTV ở vị trí #2. Mình nghĩ thế bởi lẻ mình cũng như Dev1ce nhưng ngược lại. Mình khởi đầu năm mới với một bản kế hoạch "canh tân" bản thân, chuẩn bị những bước chốt hạ cho cái kế hoạch mình gọi là "kế hoạch 28". Rồi covid đến nhưng cũng chả sao. Mình hiểu rất nhiều người đã có nhiều nổi bất hạnh với đại dịch và mình không có ý gì. Nhưng thật sự đại dịch không ảnh hưởng mình nhiều lắm, thậm chí thời gian làm việc ở nhà khác thoải mái với mình. Mình mua được vài món đồ chơi hay hay, học được nhiều thứ và có thêm thời gian dành cho những việc khác. Nên thật sự không biết vui hay buồn khi mà thời gian "giới nghiêm" đó lại là khoảng thời gian mình thấy hạnh phúc nhất trong năm nay. Rồi mọi thứ cũng qua, mình trở lại công việc với niềm tin sẽ đi tiếp kế hoach của mình. Nhưng mọi chuyện chẳng được vậy mà lại đi về hướng cực kì tồi tệ. Mình vẫn hay đùa theo kiểu sử sách rằng đó là sự kiện mang tên "màn thầu chi biến". Sau sự biến đó, Sài Gòn cũng chết theo mấy phần. Cùng buồn cười lần nửa khi mà mình nghĩ về việc sẽ có một ngày mình nghe Khóc Biệt Kinh Kỳ của Hoàng Trọng mà trong lòng buồn thảm đến thế dù mình vẫn ở đây, giữa cái đô thành này, ngày ngày đi đi về về ở đó.Đương nhiên, họa vô đơn chí, công việc cũng chẳng khá hơn khi gần như mình lại sắp rơi về những ngày đầu 2017, những ngày mà mình cảm thấy mình đang thụt lùi đi từng ngày và không tìm được lối gỡ. Nhưng có lẻ Chúa còn đoái hoài tới mình. Sau vài tháng gần như sống vật vờ như một cái xác sống đến mức những anh em đồng nghiệp thân thiết cũng quan ngại. Mình cũng dần đỡ hơn và dùng những tháng còn lại để chuẩn bị cho bản thân một roadmap khác dù chẳng đành lòng. Nhưng nói đi cũng nói lại, trong những nổi buồn khổ kia thì mình cũng có đôi phần vui vẻ. Bạn bè vẫn là bạn bè. Gia đình vẫn là gia đình. Họ vẫn ở đó, với mình những ngày đó dù mình chẳng nói một lời về tình trạng của mình cho họ. Chỉ cần họ vẫn thế với mình là đủ lắm rồi. Ngoài ra cũng có vài chuyện hay ho như việc lần đầu mình mở mồm ra và thu âm hai bài gửi cho kênh youtube Hiệp Sĩ Bão Táp và viết vài bài trên đó. Rồi việc hai lần đi uống bia với admin nửa. Sài Gòn với mình cũng sống lại được thêm đôi chút. Rồi chuyện chú bảo vệ vỗ vai mình mà nói vài câu đêm Giáng Sinh cũng đủ làm lòng mình thêm ấm phần nào. Thôi thì bắt đầu năm sau với một sự liều lĩnh nào đó khi mà kế hoạch cũ cũng chẳng còn. Con phó thác niềm tin vào Chúa con.</p>
        
        <div class="blog-detail-comments">
            <!-- <div id="show-comment-box">
                Comment
            </div> -->
            <div id="post-comment" >
                <div id="disqus_thread"></div>
                <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://https-tasynguyen3894-github-io.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block title %}2020 rewind{% endblock %}

{% block menu %}<div class="navbar-fixed home-bg">{% endblock %}

{% block quotes %}
<div class="navbar-quotes-content">
    Được!
</div>
<div class="navbar-quotes-speaker">
Thầy Đặng Mẫn
</div>
{% endblock %}

{% block meta %}
<meta name="description" content="Năm 2019, một năm đầy biến động của tôi">
<meta name="keywords" content="lan man, my stories">
<meta name="author" content="Tasy Nguyen">

<meta name="twitter:card" content="Năm 2019, một năm đầy biến động của tôi" />
<meta name="twitter:creator" content="@tasyit">
<meta property="og:title" content="2019 của tôi" />
{% endblock %}
