{% extends "shared/note_layout.twig" %}

{% block content %}
<h1>Có một người tôi quen đi tu, có người đòi lao đầu vào xe tải</h1>
    <div class="home-content">
        <div class="blog-detail">
        <div class="blog-detail-date">Đăng lúc 02/01/2020</div>
        
        <p>Sẽ chẳng vui vẻ gì khi mà cuộc đời đưa đẩy tôi vào những chuyện buồn bả chưa biết ngày nào dứt. Tự nhiên bây giờ tôi lại nhớ về người quen cũ của mình. </p>
        <p>Đó là anh trai của bạn tôi, gia đình tôi chơi thân với nhà bạn ấy nên tôi cũng có tiếp xúc với anh. Anh lớn hơn tôi chắc cũng mười tuổi hơn. Lúc nhỏ anh đó vì mắc một số bệnh cộng thêm thời đó dân quê chưa được thông tin đầy đủ nên ai cũng e dè ổng. Do thế nên mọi thứ nên từ nhỏ ổng phải xa gia đình lên Sài Gòn sống. Không hiểu từ đâu và vì sao ổng lại quen rồi yêu một chị dưới quê. Nhà ổng thì khá hơn chị đó, đáng lý người dân quê sẽ ái ngại những thứ "không cùng hàng" như vầy. Nhưng mà cũng không hiểu sao mà cuối cùng lễ cưới cũng được tổ chức. Tôi nhớ mang máng rằng cũng có phản đối này nọ nhưng ông anh này kiên quyết một cách nào đó mà gia đình chấp nhận. Lễ cưới diễn ra, một đứa nhóc chào đời và hai vợ chồng khăn gói lên Sài Gòn ăn học để có bằng cấp mà làm việc cho các công ty dòng họ. Một chuyện thật đẹp cho đến một ngày vỡ lẻ ra mọi thứ chỉ là lừa lọc, chị ta cặp kè với một anh bác sĩ và rồi sau đó hôn nhân đổ vỡ. Có lẻ đó cũng chỉ như những câu chuyện tan vỡ trong hàng trăm câu chuyện tôi được nghe và tôi sẽ quên ngay thôi. Chỉ có điều là một hôm tôi về quê, cha kể tôi nghe đại khái như vầy <i>"Thằng ... con ông ... từ hồi vợ bỏ xong cái nó bỏ nhà đi đâu mất tiêu. Ông bà già kiếm nó quá chừng cái tự nhiên lòi ra nó cạo đầu trọc lốc đi tu ở cái chùa nào dưới Trà Vinh đó. Cái thằng ngộ thiệt!"</i>. Tôi cũng thấy vậy, ngộ thiệt.</p>
        <p>Ngoài ra còn một người bạn nửa, anh ta cũng gặp chuyện lục đục trong hôn nhân và mọi thứ có vẻ cũng đã chấm dứt. Thời gian chỉ còn lại để chờ đợi cho kết thúc. Ngày chuẩn bị ly dị ổng vui vẻ rủ anh em đi ca hát, ăn nhậu. Thoát khỏi cuộc đời giam cầm với một người vợ làm mình mòn mỏi thì đời đàn ông như được giải thoát. Cho đến một lần đi uống bia với ổng, ổng bất giác nói <i>"Tự nhiên anh muốn lao đầu vô xe tải chết luôn cho khỏe, giờ đang lúc vui nhất..."</i>. Tôi lạnh người lúc đó rồi hỏi ổng thật hay đùa đó? Ổng nói là đùa rồi lại nói là thật rồi lại tung hứng hai từ đó vơi tôi. Khùng thiệt, đàn bà thôi mà, mất thì thôi chết chi phí đời vậy? Hơn tháng sau, bằng cách nào đó ổng và vợ làm lành và mọi sự kết thúc như chưa có vết gợn nào.</p>
        <p>Theo một đứa như tôi thì họ hành động thật chẳng ra sao, mình còn đủ thứ mà, còn gia đình còn anh em còn bè bạn còn sự nghiệp. Tu chi? Chết chi? Phi đời quá mấy ông! Đến vài tuần trước tôi cũng đối mặt với sự tan vỡ đó, chưa phải chuyện to tát vợ chồng, con cái nhưng tôi cũng thấy mọi thứ gãy đổ khắp nơi. Tôi bỏ thói quen lên đọc medium mỗi sáng, đi đi về về như cái bóng. Phòng thì đèn chả bật, xe thì chả rửa, đồ chơi bỏ xó và inbox tuyển dụng Linkedin chả xem... Đế một ngày tôi chạy xe và tôi chợt lạnh người đôi giây khi tôi cảm nhận ra rằng nó đang đến ở đâu đó. <i>"Hay là lao vô cái xe nào đó hoặc bị xe nào đó tông cho xong nhỉ?"</i>. Đương nhiên tôi không điên và cũng thừa sự hèn nhát. Tôi tấp vô lề và tự hiểu rằng ở mỗi hoàn cảnh khi đi vào tuyệt vọng sẽ sinh ra những đáp án lạ lùng cho mỗi vấn đề ta gặp phải. Tôi chỉ may mắn khi chưa chọn phải những đáp án kia nhưng đâu phải ai cũng thế... Dù tôi không biết mình sẽ mặc xác mấy đáp án đó được bao lâu?</p>


        <div class="blog-detail-comments">
            <!-- <div id="show-comment-box">
                Comment
            </div> -->
            <div id="post-comment" >
                <div id="disqus_thread"></div>
                <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://https-tasynguyen3894-github-io.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block title %}Có một người tôi quen đi tu, có người đòi lao đầu vào xe tải{% endblock %}

{% block menu %}<div class="navbar-fixed home-bg">{% endblock %}

{% block quotes %}
<div class="navbar-quotes-content">
    Được!
</div>
<div class="navbar-quotes-speaker">
Thầy Đặng Mẫn
</div>
{% endblock %}

{% block meta %}
<meta name="description" content="Năm 2019, một năm đầy biến động của tôi">
<meta name="keywords" content="lan man, my stories">
<meta name="author" content="Tasy Nguyen">

<meta name="twitter:card" content="Năm 2019, một năm đầy biến động của tôi" />
<meta name="twitter:creator" content="@tasyit">
<meta property="og:title" content="2019 của tôi" />
{% endblock %}
