{% extends "shared/blog_layout.twig" %}

{% block content %}
<h1>Vici gaming trong tôi</h1>
    <div class="home-content">
        <div class="blog-detail">
        <div class="blog-detail-date">Đăng lúc 02/01/2020</div>
        <div class="tags">
            <span><a href="tags.html?tag=lan-man">lan man</a></span>
            <span><a href="tags.html?tag=my-stories">my stories</a></span>
        </div>

        <p>Nếu nói về những team esport mà tôi hâm mộ tôi sẽ không ngần ngại chọn ra hai cái tên đó là Astralis của CSGO và Vici gaming mùa TI4 của Dota 2. Astralis có lẻ phải chờ một bài khác, hôm nay tôi tự nhiên nhớ về chuyện cũ nên muốn viết đôi dòng cho đội Dota 2 này.</p>
        <img style="margin-bottom: 5px" src="https://i.ytimg.com/vi/PhKfBB-RjLA/maxresdefault.jpg" />
        <div style="text-align: center"><i>Từ trái sang Sylar, Super, Fy, Fenrir, Rotk</i></div>
        <p><b>Bối cảnh</b></p>
        <p>Đội hình năm đó gồm năm cái tên là Sylar (carry), Super (mid), Rotk (offlane) và Fy cùng Fenrir ở vị trí support. Đội hình tồn tại từ sau TI3 đến khi kết thúc TI4 chỉ còn lại ba cái tên là Fy, Fenrir và Super ở lại. Để bắt đầu kể về đội hình này thì tôi xin kể một chút về TI3, một trong những kỳ TI để lại nhiều kỷ niệm với những người chơi Dota 2 nhất. TI3 năm đó chứng kiến sự sụp đổ của các team Trung Quốc. Họ vẫn mạnh, vẫn là một thế lực của Dota 2 thế giới. Chỉ có điều năm đó trong top 3 không hề có một đội Trung Quốc nào. RattleSnake bị loại ở vòng bảng, LGD thua một cách đau đớn trong loạt bo1 với Liquid, cựu vương iG thất thủ trước những người đồng hương Tongfu ở nhánh thua. Để rồi của DK và Tongfu đều bị một đại diện đến từ sea là Orange lần lượt tiễn về nước. Có thể với một nền Dota 2 nào đó đây không quá tệ nhưng với người Tàu thì không! Sau một sự thất bại luôn sẽ là một sự xáo trộn, như kiểu khi bạn thua một ván bài bạn sẽ xào bài liên tục để lựa ra một bộ bài ưng ý nhất. Dota 2 Trung Quốc giai đó đó cũng thế. Trong cái bối cảnh đó chắc ngoài dân bet thủ ra thì chẳng mấy ai biết đến Vici gaming, một đội vô danh tier 2 3 của Trung Quốc. Một đội thi đấu ngụp lặn ở cái giải đấu mà người ta hay gọi vui là những giải "làm độ". Đội hình của họ khi đó sở hữu những cái tên mà chỉ vài năm sau của những người đã tỏa sáng và cũng của những người thấp sáng những ánh hào quang của cùng của mình. Ở đây có Sydm người mà sau này được gọi với cái tên Mikasa, một trong những huấn luyện viên nâng khiên thánh, Cty ông hoàng sáu phút ở mid lane và một ZSMJ viết những chương cuối cùng mỏi mệt của một huyền thoại. Ngoài ra trong đó chúng ta sẽ có hai cái tên là Fy, một thiếu gia trẻ tuổi chuyển sang từ Dota 1 và Fenrir một ông anh sinh năm 1989 chưa nổi đã chuẩn bị chìm. Mọi chuyện sẽ cứ thế nếu nhưng không có sự xáo trộn diễn ra ở các ông lớn...
        </p>
        <p>
            <b>Nơi những anh tài hạ cánh trong cơn giông bão</b>
        </p>
        <p>Nơi đầu tiên là kẻ lắm tiền nhiều của DK. Sau TI3, tôi vẫn nhớ ánh mắt thẫn thờ của họ ở sân bay và nếu như không có máy quay lia đến có thể Burning đã bật khóc. Theo lời Rotk, Burning đã chia sẽ rằng anh có ý định giải nghệ nhưng Rotk khuyên anh hãy cùng nhau đánh một ván cuối sự nghiệp. Burning nói muốn suy nghĩ và... sau đó Rotk, Super, QQQ bị đá ra khỏi team. Điều cay đắng hơn là Rotk biết được mình bị kick sau cả fan hâm mộ. Đến sau này đôi lần anh ta vẫn xem đó là sự phản bội. Cuối cùng, sự vụ dần hé lộ. Burning vẫn tiếp tục thi đấu, có lẻ anh được một thuyết phục rằng anh sẽ có một đội hình tương xứng xoay quanh mình. Dãy ngân hà xung quanh một vị vua và DK sẽ trao vương miện đó cho Burning. Một thời gian sau chúng ta được chứng kiến một trong dãy ngân hà thật sự của Dota 2 với Mushi, Iceiceice, Lanm, MMY và đương nhiên là hoàng đế Burning.
            <img src="https://cdn0.gamesports.net/storage/54000/54117.jpg" alt="">
        Tiếp đến sẽ là một tên tuổi gạo cội khác, LGD. LGD đã thất bại một cách cay đắng trước Liquid một đội đến từ bắc mỹ. Cùng với tiềm lực kinh tế không thua ai, đã có lời đồn rằng LGD của đã có ý định xây một vương cung và đặt một ngai vàng đó cho... Burning. Nếu anh chọn họ. Điều này khiến cho Sylar, một carry cực xuất sắc thời điểm đó phải khăn gói ra đi khỏi LGD, nơi anh đã gắn bó hai kỳ TI. Dù đến nay vẫn chưa rõ lý do ra sau nhưng sự thật vẫn là thế Sylar phải rời đội. Trong bối cảnh đó, Tongfu và iG đổi thành viên cho nhau với việc Zhou gia nhập Tongfu và Hao cùng Banana gia nhập iG. Trong bối cảnh đó, không rõ thế nào mà VG lại có được sự phục vụ của Rotk. Theo một số thông tin rằng Rotk lúc đó có nhiều lời mời nhưng anh ta có một điều kiện là phải nhận luôn cả người anh em Super của mình. VG là team đạt được thõa thuận đó. Lúc đầu, VG chưa có sự phục vụ của Sylar mà thay vào đó là Tutu. Một thời gian sau, Sylar mới gia nhập team. Lúc này, có thể xem như VG đã chính thức form team và đây sẽ là đội hình mà tôi nói tới. Một Fy non nớt, Fenrir thì tuổi đã có phần lớn để bắt đầu sự nghiệp, Sylar, Super, Rotk những ngôi sao bị vứt bỏ cùng một gaming không giàu có, tiêng tăm. Mong gì một đội hình như thế này nhỉ?
        </p>
        <p><b>Hiện tượng làng bet</b></p>
        <p>
            Tạm kể về tôi một tí, thời gian đó tôi chưa quan tâm đến họ lắm. Tôi còn đang mãi xem Na`vi cùng Alliance đơm nhau bên trời âu kìa. Tôi có một đứa bạn, một con bạc thật sự và nó hay nhớ tôi bet dùm (vì lúc đó mỗi tài khoản bị limit bet 4 món một trận). Một hôm nó nói với tôi kiểu <i>"Ê, bọn VG này ghê lắm. Nó vả đủ thứ thằng luôn mà toàn nằm kèo dưới. Không biết bọn này ở đâu ra nửa.".</i> Thời gian đó tôi xem stream thì tôi nghe rằng họ đem một hero trở vào đấu trường nghiệp - Bristleback ở vị trí offlane trong tay Rotk. Kết hợp với IO, Crystal Maiden hoặc Alchemist (support) hero này trở thành nỗi ác mộng trong các game đấu. Đến lúc đó, tôi bắt đầu quan tâm nhiều hơn đến team và tôi thật sự thích lối đánh của họ. Một Super chơi cục súc và rất "tàu" ở mid với những DK, Bristleback, Alchemist... một Rotk mưu mô ở offlane và bộ ba safelane chuẩn chỉ. Họ không có một ngôi sao nào cả, vâng chính thế. Nhưng họ cùng nhau tỏa sáng một cách nhịp nhàng. Đương nhiên lúc đó thì họ cũng chưa quá nổi bật theo kiểu tier 1 đâu. Đơn giản vì mọi tâm điểm điều hướng về hai con quái vật là iG một đội hình Trung Quốc "thuần chủng" với các anh tài bản xứ đối đầu với dãi thiên hà DK nơi có hoàng đế Burning cùng hai ngôi sao đến từ sea. Rõ ràng với một đội hình như gồm những kẻ từng làm mưa làm gió ở TI thì trở thành một cái tên an toàn trên bảng bet chưa thể làm VG thõa mãn. Và tiếp theo sẽ là một giải đấu mà họ thật sự bơi ra biển lớn <b>RaidCall EMS One Fall Season</b>
        </p>
        <p><b>RaidCall EMS One Fall Season</b></p>
        <p>
            Thật sự tôi không còn nhớ họ đến với giải RaidCall năm đó như thế nào ở nội địa nhưng tôi vẫn nhớ về hành trình trên xứ người của họ. Đi cùng với họ có một cái tên mà có thể ai thích VG sẽ biết Hunter-, ceo của VG. Thời đó, có lẻ vì gaming còn nhỏ nên Hunter- trực tiếp đi cùng team ra nước ngoài. Đó là một giải đấu đáng nhớ với họ khi mà họ dành được chức vô địch một mạch từ vòng bảng lên chung kết. Giải đấu năm đó phải nói là một bài thuốc thử đáo để dành cho VG khi mà có những cái tên sừng sỏ như đương kim quán quân và á quân TI3, Alliane và Na`vi cùng Fnatic một đội đa quốc tịch với lối chơi thông minh và khó chịu. Ở vòng bảng VG đã xuất sắc hạ gục Na`vi của Dendi để dành cho mình vị trí nhất bảng A. Nói thêm một điều rằng Na`vi thời điểm đó gồm có Dendi, Hvost, Funn1k, Kuroky, Puppey và họ vẫn là một thế lực đáng gờm của Dota thế giới. Sau khi đã bại á quân, họ tiếp tục gây sốc khi lật đổ luôn những vị vương phương bắc Alliance trong trận bán kết. Để rồi ở chung kết họ đối đầu với Fnatic gồm có n0tail, Era, Trixi, H4nn1 và Fly. Ở đây họ đã chịu thất bại ở trận đầu tiên khi đối mặt với một lối chơi chủ động của Fnatic với Enchantress, Visage, Invoker (băng, lửa), Elder Titan và một Era cầm trong tay Lifestealer. Trong một thế trận ồ ạt và chủ động của đội game đến từ EU, VG gõ "gg" ở phút 40 khi không thể chống đỡ được màn push nhà đến từ Fnatic. Nhưng có vẻ điều này không làm VG nản chí họ thắng một mạch ba trận sau với những con bài thương hiệu như Bristleback, Alchemist và IO. Đặc biệt là Fy chơi cực hay ở vị trí support và một Sylar đánh một cách rất "Tàu", lạnh lùng và toan tính. Tôi vẫn nhớ lúc họ vô địch, tôi đã hét vào trong màn hình laptop rất nhiều. VG đã có một danh hiệu ở một giải đấu quốc tế. Lúc họ bước ra, máy quay vô tình quay được cảnh Hunter- cầm điện thoại quay cảnh đội bước ra nhận giải. Những ký ức thời cơ hàn thật đẹp nhỉ? Rotk đã rất xúc động khi nói "I'm very happy this time, this moment" và Sylar là người nhận cúp. Sau đó, Rotk đã cầm cúp đưa cho Fy, cậu trai đã chơi hay tuyệt trong giải đấu đó.
            <img src="https://liquipedia.net/commons/images/thumb/0/0a/Vici_Gaming_ESL_Fall_2013.jpeg/594px-Vici_Gaming_ESL_Fall_2013.jpeg" alt="">
            Không còn chỉ là một team tier 2 và cầm trong tay chiếc cúp quốc tế danh giá. Nhưng có lẻ thứ mà VG đang mong chờ đang nằm ở chính quê hương của họ. Nơi mà họ muốn khẳng định vị thế của mình nhất.
        </p>
        <p><b>Khi những đôi chân trở lại nền đất quê nhà</b></p>
        <p>Họ trở lại Trung Quốc, môi trường có thừa sự khắc nghiệt dành cho các game thủ Dota 2. Họ tham gia tiếp ba giải đấu, trong đó phải kể đến việc họ đã bị loại khỏi một giải đấu dưới tay dãi ngân hà DK đồng thời chứng kiến DK vô địch giải đấu với số tiền thưởng 60 ngàn nhân dân tệ. Sau đó, VG kết thúc năm 2013 với một giải đấu mà Sylar đánh bại những người anh em cũ LGD và giành lấy... vị trí thứ ba trong một giải đấu mà các bạn biết ai nâng cúp giải đấu đó không? Lại là hoàng đế Burning trong một kèo best of 7 kinh điển. Họ bị dẫn trước ba ván trắng và rồi hạ gục đối thủ bốn ván sau đó. Một trong những chức vô địch vô tiền thoáng hậu. Lanm đã có một cú echo vào thủng cả màn hình sau trận đấu. Tất cả cúi đầu, Burning cầm lấy vị trí số một cùng một triệu nhân dân tệ. Mọi thứ như thể Wilhelm I tấn phong ở điện Versailles báo hiệu một đế chế mới. Trong ánh sáng ấy ai còn nhớ những kẻ bại trận nhỉ? Vị trí đó cũng là vị trí tốt nhất của VG trong năm 2013 sau chức vô địch ở trời âu. Một năm 2013 khép lại đánh dấu cho một năm 2014 có nhiều việc VG sẽ phải làm khi những người đồng hương đã đưa đôi chân của năm chàng trai trở lại mặt đất.
            
        </p>
        <p>Sau một kỳ nghỉ Tết nguyên đán dài hạn, các giải đấu Trung Quốc lại tiếp tục khởi tranh. VG cũng không thể ở ngoài cuộc chơi đó. Nhưng mọi thứ có vẻ vẫn không đơn giản cho họ khi mà trong tháng ba họ không vô địch một giải nào cả. Đồng thời tiếp tục nhìn DK nâng cúp ở Sina, một trận best of 5 đủ 5 game mà họ đã rất cố gắng nhưng... DK vẫn là DK. Đồng thời trong thời gian này nền Dota Trung Quốc chứng kiến thêm một ông lớn nửa ra đời. Newbee. Đội hình Tongfu năm trước đã tụ hợp cùng nhau nhưng trợ lực với một liều thuốc bổ não cực mạnh. Tiểu bát - xiao8. Họ được xem như những kẻ ngán đường trên coi đường tới khiên thánh của DK. Vâng DK chứ không phải VG nhé! Đồng thời ở iG cũng có có lại được sự phục phụ của một TI winter, Chuan béo ở vị trí support và một carry mới tên là Xi (ngu - just for fun). Khá buồn khi VG không có thể một chức vô địch nào trong vài tháng sau đó. Điều họ có chính là hai tấm vé đến hai giải đấu quốc tế là ESL One Frankfurt và The Summit 1. Trong thời gian khi Dota tàu nóng như lửa thì cũng dẫn xuất hiện những thế lực mới. Gaming đình đám của LoL tham gia Dota 2 bằng việc sở hữu đội hình Speed.int với những cái tên như EE (sama), Bone7, Aui_2000, Pieliedie và người anh bà con của 430, Singsing. Đồng thời cũng ở khu vực đó là EG, một đội hình gồm ba cái tên mới đầy hứa hẹn là PPD, Zai mà... RTZ. Cậu nhóc làm khuynh đảo nền Dota thời đó. Bên kia trời âu cũng không chịu thua, khu vực CIS chứng kiến sự nổi dây của Empire cùng Resolus1on, kẻ thách thức ông lớn Na`vi. Giữa những lúc quá nhiều anh tài thì một giải đấu sẽ là liều thuốc thử cho tất cả. StarLadder StarSeries Season 9, nơi sẽ trả lời tất cả. Na`vi, Alliance, EG, Empire sẽ tranh tài với iG và DK cùng Rox của chính ủy Solo và những chàng trai hàn quốc trong màu áo MVP Phoenix. Mỗi thứ diễn ra đúng khi mà kẻ đi cần đi. MVP và Rox ra về sớm nhắt. Nhưng iG, dù không có Zhou nhưng cũng đã tiễn Dendi ra khỏi giải đấu trong một ngày Chuan quá xuất sắc. Alliance cũng không khá hơn khi bị Empire hất cẳng. Sau đó, Luna của Silent đưa luôn iG rời giải đấu đến đối mặt với EG. Nơi mà Resolu1on tiễn RTZ về nước để thách thức vị hoàng đến từ phương đông DK. Do đến từ nhánh thắng nên DK được thắng trước một trận. Trận hai bắt đầu và Empire đã không cấm đi Invoker khi Mushi` thường được biết đến làm một mid player không dùng hero này. Nhưng DK đã chứng minh rằng... Mushi` không chơi được Invoker. Nhưng có lẻ Empire đã quên Iceiceice một trong những tay chơi Invoker máu mặt của thế giới. Mushi` cầm Centaur Warrunner đi offlane. Burning cầm Void, không lên đồ damage mà đi thẳng Aghanim's scepter. Tôi vẫn nhớ trong một combat bình luận viên Việt Nam là ATC đã gào lên <i>"Tôi đã nói mà, chỉ cần Iceiceice còn sống là DK không lo hết damage!"</i>. Sau đó, DK kết liễu Empire ở trận cuối và đem về chiến thắng 3 - 0 cùng với lời khẳng định về một vị vua mới của Dota 2 thế giới.</p>
        <p><b>The international 4</b></p>
        <p>Sau tất cả, VG của tôi cũng khăn gói đi đến xứ cờ hoa tham gia giải đấu danh giá nhất năm của Valve. TI4 là một kỳ TI đặc biệt khi mà tiền thưởng lớn hơn khá nhiều so với các kỳ TI khác (dù so với hiện nay chỉ là muỗi thôi). Ở vị trí quán quân sẽ nhận được hơn một triệu mỹ kim. Nói nôm na là một thành viên đội thắng cuộc còn nhiều tiền hơn cả team vô địch TI 1 và TI 2. Thay vì chia làm hai bảng như trước. Năm 2014, giải đấu cho các đội đấu vòng với nhau theo thể thức round robin. Đây là vòng tôi không để ý lắm vì lúc này bị lôi đầu về quê (do nghỉ hè) và không có nhiều thời gian để xem lắm. Nhưng thật sự tôi đã bất ngờ vô cùng khi kết thúc vòng này lại là... VG. Họ thắng 12 trên 15 trận và cầm luôn vị trí đầu bảng. Thật điên rồ! Nhưng rồi phần nào đó, tôi cũng kiềm mình lại khi nhìn sau lưng họ là những EG, DK, iG và thậm chí là Cloud 9 và Na`vi. Ở TI bạn chẳng thể biết được chuyện gì sẽ xảy ra. Na`vi ở TI2 đã không có một khởi đầu suông sẽ và họ vẫn bước vào trận chung kết sau khi tiêu diệt hầu hết các anh tài xứ Trung thổ. Điều làm tôi bất ngờ hơn là Empire, những nhiệm màu của họ, á quân Startladder 9 đâu rồi? Họ kết thúc hành trình của mình ở vị trí 13/14th. Thật mai mỉa! Tiếp đến là Newbee, đội hình triểu vọng năm nào của Tongfu và tiểu bát. Những kẻ thách thức DK mà lại ở vị trí mém chết kia sao? Thế cục thật khó đoán nhưng tôi vẫn vui vì VG đang ở vị trí cao nhất. Vui được thì cứ vui thế thôi. Main event khởi tranh và VG với vị thế người đứng đầu đối đầu với Newbee trong một kèo best of 3. Nơi mà ta nhìn thấy hai bộ não của Dota Trung Quốc tranh hùng, Rotk và Xiao8. Newbee nhánh chóng chứng minh rằng thành tích ở vòng bảng chỉ là vô nghĩa khi mà VG bị tiễn xuống nhánh thua sau ba game dấu. Thú thật, tôi khá lo cho VG đấy, không đùa đâu khi họ sẽ phải gặp Cloud 9. Kẻ đã hạ gục Na`vi thần thánh sau ba game đấu và một Ember Spirit chơi xuất sắc trong tay Singsing. VG bước vào trận đấu với đại diện bắc mỹ bằng một trận thắng sau bốn mươi phút. Tôi đã nghĩ sẽ là một trận dễ dàng cho họ nhưng trận tiếp theo là tôi phải nghỉ lại... Tôi đã hét lên rằng "thằng EE này điên mẹ rồi!". Cloud 9 đặt niềm tin vào con Meepo của Singsing trong khi VG cần trong tay Luna, Tidehunder, Earthsaker, DP and Jakyro. "thằng mặt lợn EE điên rồi!", tôi thốt lên. Nhưng sau đó, không chỉ EE mà cả trận đấu này, điên, điên hết rồi! Con Bounty hunter trong tay Pieliedie xiên chết một mớ gà của VG và Bone7 chơi như một tên điên với những cú hookshot đáng sợ. EE thì chơi Doom một cách vô cùng đồng đội. Riêng Singsing thì sau sáu năm tôi vẫn khẳng định đây là trận đấu để đời của anh đấy! Một con Meepo mà khó ai dám quên, những pha buy back ở hang Roshan và cú lấy thâm mình lắp foundtain của EE và Bone7 vẫn làm tôi ớn lạnh tới bây giờ. VG đã thất bại trong một trận mà tôi phải vỗ tay. Singsing và tập thể Cloud 9, họ thật sự xuất sắc! Nhưng có vẻ phép màu đã hết. Trận cuối họ ăn Roshan level 1 và bị VG phá bỉnh, dù cố gắng nhưng thúc thủ ở phút 34. Nước mắt Singsing rơi và tôi thật sự tiếc cho VG, nếu mà tôi không phải fan VG thì còn tiếc biết bao... Có thể với nhiều bạn Singsing là một thằng tấu hài trên twitch nhưng các bạn có biết rằng chính một wibu toxic như EE vẫn phải công nhận Singsing khi thi đấu chuyên nghiệp là một anh chàng siêng năng, nghiêm túc và cầu tiến. Tôi không phải fan anh nhưng hôm đó tôi tiếc cho anh, Singsing à!</p>
        <div class="blog-detail-comments">
            <!-- <div id="show-comment-box">
                Comment
            </div> -->
            <div id="post-comment" >
                <div id="disqus_thread"></div>
                <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://https-tasynguyen3894-github-io.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block title %}Vici gaming trong tôi{% endblock %}

{% block menu %}<div class="navbar-fixed home-bg">{% endblock %}

{% block quotes %}
<div class="navbar-quotes-content">
    Được!
</div>
<div class="navbar-quotes-speaker">
Thầy Đặng Mẫn
</div>
{% endblock %}

{% block meta %}
<meta name="description" content="Năm 2019, một năm đầy biến động của tôi">
<meta name="keywords" content="lan man, my stories">
<meta name="author" content="Tasy Nguyen">

<meta name="twitter:card" content="Năm 2019, một năm đầy biến động của tôi" />
<meta name="twitter:creator" content="@tasyit">
<meta property="og:title" content="2019 của tôi" />
{% endblock %}
