<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGUYEN THAI SANG | SOFTWARE ENGINEER</title>
</head>
<body>
    <div>
        <div>
            <h1>NGUYEN THAI SANG</h1>
            <span>Software engineer</span>
            <div>351/123 No Trang Long street, ward 13, Binh Thanh district, HCMC</div>
            <div><span>037 204 3230</span> <span>thaisang.nguyen3894@gmail.com</span> <span>sangnguyen.dev</span></div>
        </div>
        <div>
            <div></div>
            <div>
                I'm software engineer in web technologies, and a driven software engineering leader with talent management experience.
            </div>
        </div>
        <div>
            <div>Skills</div>
            <ul>
                <li>PHP/Laravel</li>
                <li>React/Vue/Angular/Express</li>
                <li>Mysql/Postgresql/Mongo</li>
                <li>Python/Flask/Celery</li>
                <li>Linux/Docker/AWS</li>
            </ul>
        </div>
        <div>
            <div>
                <div>Fireapps (JULY 2018 - </div>
            </div>
        </div>
    </div>
</body>
</html>