{% extends "layouts/main.twig" %}

{% block content %}
<div>
    <h1>Post create</h1>
    <form class="form-post" action="" method="post">
        <div>
            <label for="id">Id</label>
            <input type="text" name="id" value="">
        </div>
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" value="">
        </div>
        <div>
            <label for="content">Content</label><br>
            <textarea name="content" id="content" style="width: 100%" rows="30"></textarea>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</div>
<script src="/simplemde/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("content") });
</script>
{% endblock %}