{% extends "shared/main.twig" %}

{% block content %}
<div class="container code-page">
    <h1>Code</h1>
    <div>
        <p>
            I'm software engineer and there are some open source I have developed in free time.
        </p>
        <ul>
            <li>
                <h3><a href="https://github.com/tasynguyen3894/generator-gulp-twig">Gulp x Twig x Yo generator</a></h3>
                <p>Yeoman template using Gulp, Twig...</p>
            </li>
            <li>
                <h3><a href="https://github.com/tasynguyen3894/jsdoc-ilafolt">ilafolt</a></h3>
                <p>JSdoc template</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block title %}Code{% endblock %}